html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}
.main-content {
  display: block;
  padding-top: 60px;
  min-height: calc(100vh - 80px);
}
